html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    /* margin-top: 0px;
    margin-left: 0px; */
    margin: 0;
    font-family: Avenir;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5em;
    background: #2D3D5B;
    transition: .7s;
}

.header a {
    text-decoration: none;
}

.header h1 {
    margin-left: 100px;
    color: whitesmoke;
}

.header nav {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-right: 100px;
    font-size: 1.2em;
}

.header nav a {
    color: lightslategray;
    text-decoration: none;
    transition: .4s;
}

.header nav a:hover {
    color: lightgrey;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: whitesmoke;
}

.sticky h1 {
    color: black;
}

.sticky nav a {
    color: rgb(56, 56, 56);
}

.intro {
    /* background: #F4CAE0; */
    background-image: url("images/anthony_sang.jpg");
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro div {
    text-align: center;
    color: whitesmoke;
}

.intro h1 {
    font-size: 5em;
    margin-bottom: 0;
}

.intro h3 {
    font-size: 2em;
    margin-top: .7em;
}

.intro hr {
    width: 700px;
    border: .5px solid whitesmoke;
}

.scrollButton {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: auto;
}

.intro img {
    bottom: .8em;
    width: 40px;
    height: 30px;
    transition: .2s;
    filter: invert(100%);
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.08);
    }
    40% {
        transform: scale(1.16);
    }
    50% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.16);
    }
    70% {
        transform: scale(1.08);
    }
    80% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* .intro img:hover {
    width: 45px;
    height: 33.75px;
} */

.about {
    background: #EBEEEF;
    left: 0px;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    background: #B8C7D8;
    left: 0px;
    width: 100%;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    font-size: 2em;
}

.contact {
    background: #DAFFFA;
    height: 45em;
}

.contact div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 400px;
}

.contact input {
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.7em;
    border-radius: 15px;
    border: none;
    padding: .3em;
    box-shadow: 4px 4px 5px 1px lightgray;
}

.contact textarea {
    resize: none;
    width: 100%;
    text-align: left;
    font-size: 1em;
    border-radius: 15px;
    border: none;
    padding: 1em;
    box-shadow: 4px 4px 5px 1px lightgray;
}

.contact button {
    margin-top: 2em;
    font-size: 1.5em;
    padding: .6em;
    border-radius: 15px;
    border: none;
    background-color: ivory;
    box-shadow: 4px 4px 5px 1px lightgray;
    transition: .7s;
}

.contact button:hover {
    background-color: lightgray;
}

footer {
    background: #243B4A;
    margin-bottom: -10px;
    width: 100vw;
    height: 12em;
}